<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Exclude>[*]*.Migrations.*,[*.Tests]*,[*]*.Program</Exclude>
					<ExcludeByFile>**/Migrations/**/*.cs,**/Program.cs</ExcludeByFile>
					<IncludeTestAssembly>false</IncludeTestAssembly>
					<SkipAutoProps>true</SkipAutoProps>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>